@font-face {
  font-family: 'jgb-fonts';
  src:  url('fonts/jgb-fonts.eot?huky0');
  src:  url('fonts/jgb-fonts.eot?huky0#iefix') format('embedded-opentype'),
    url('fonts/jgb-fonts.ttf?huky0') format('truetype'),
    url('fonts/jgb-fonts.woff?huky0') format('woff'),
    url('fonts/jgb-fonts.svg?huky0#jgb-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jgb-fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}

