$primary-light: #F1F8E9; 
$primary-dark: #33691E; 
$primary: #8BC34A;
$btn-bg-hover: #689F38;

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700');

body {
  background: $primary-light;
  color: $primary;
  font-family: "Source Code Pro", Monospace;
  font-weight: 300;
  font-size: 1.5em;
  border-top: 3px solid $primary;
}

main,
footer {
  padding: 20px;
}

strong {
  font-weight: 600;
}

.intro-text {
  margin-bottom: 40px;
  line-height: 1.25;
  max-width: 500px;
}

.btn {
  padding: 5px 8px;
  background: $primary;
  color: #fff;
  font-weight: 300;
  font-size: 0.875em;
  letter-spacing: 2px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s background ease;
  &:hover,
  &:focus {
    background: $btn-bg-hover;
    transition: 0.3s background ease;
  }
}

.link {
  svg { 
    fill: $primary;
    transition: 0.3s fill ease;
  }
  &:hover svg {
    fill: $primary-dark;
    transition: 0.3s fill ease;
  }
}

.twitter-link {
  
}